{% extends "base.twig" %}
{% block content %}
	<main>
		<h1>Acceso</h1>
		<a href="{{site.url}}/curso/actualizacion-del-abordaje-terapeutico-del-paciente-con-dislipemia/" class="btn btn-fill btn-fill-ltr">Acceder</a>
		<p>Si es su primera vez
			<a href="{{ site.url }}/registro" class="link">cree su cuenta</a>
		</p>
	</main>
{% endblock %}
