<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}">
		<meta keywords="K9um Laude">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	{% if fn('is_front_page') %}
		<body id="top">
		{% else %}
			<body id="top" class="detail-body">
			{% endif %}
			{% block content %}
				<!-- This will be overwritten by the content block in the inheriting .twig file -->
			{% endblock %}
			{% include "blocks/footer.twig" %}
		</body>
	</html>
</html>
