{% extends "base-comingsoon.twig" %}
{% block content %}
	<div style="align-items: center;background: #222; display: flex;font-family: Arial;height: 100vh; justify-content: center;margin: 0;padding:0;width: 100%;">
		<div style="color: white; text-align: center">
			<p style="font-size: 2rem;line-height: 1.2;margin-top: 0;margin-bottom: .5rem;">Volvemos pronto con<br>el nuevo curso de K9um Laude</p>
			<p style="font-size: 1.5rem;margin-bottom: 2rem;">Disculpa las molestias</p>
			<a id="old" style="border: 1px solid #ddd; color: white; display: inline-block;padding: .5rem .75rem;text-decoration: none;transition: .5s all ease-out;" href="https://primera-edicion.k9umlaude.es" target="_blank">Ir a la primera edición del curso</a>
		</div>
	</div>
	<style>
		#old:hover {
			background: white;
			color: #222 !important;
			transition: 0.5s all ease-in;
		}
	</style>
{% endblock %}
