{% extends "base.twig" %}
{% block content %}
	<main id="login">
		<div class="wrapper">
			<div class="container">
				<div class="left">
					<h1 class="heading">Acceso</h1>
					<p class="text">Si es su primera vez
						<a href="{{site.url}}/registro" class="link">cree su cuenta</a>
					</p>
					<form action="{{site.url}}/curso/actualizacion-del-abordaje-terapeutico-del-paciente-con-dislipemia/">
						<div class="field">
							<label for="email" class="text">Email</label>
							<input id="email" type="email" class="box" placeholder="Email">
						</div>
						<div class="field field-last">
							<label for="pass" class="text">Contraseña</label>
							<div class="input-wrap">
								<input id="pass" type="password" class="box" placeholder="Contraseña">
								<a href="#" class="forgot link" tabindex="0">Olvidé mi contraseña</a>
							</div>
						</div>
						<div class="checkbox">
							<input id="accept" type="checkbox" value="accept" class="styled-checkbox" tabindex="-1">
							<label for="accept" tabindex="0">
								He leído y acepto la
								<a href="/politica-privacidad" class="link" tabindex="0">política de privacidad</a>
							</label>
						</div>
						<a href="{{site.url}}/curso/actualizacion-del-abordaje-terapeutico-del-paciente-con-dislipemia" class="button button-m submit" tabindex="0">Acceder</a>
					</form>
				</div>
				<div class="right">
					<img src="{{theme.link}}/static/img/tablet.png" alt="">
				</div>
			</div>
		</div>
	</main>
{% endblock %}
