#admin-info,
#admin-polls {
	table {
		border-collapse: collapse;
		margin-top: 3rem;
	}
	th,
	td {
		border: 1px solid #dedede;
		padding: 0.5rem;
	}
	th {
		text-align: left;
	}
}
#admin-polls,
#admin-info {
	img {
		width: 1rem;
	}
	.download-files {
		margin-right: 5rem;
		a {
			margin-right: 1rem;
		}
		img {
			width: 2rem;
		}
	}
	.users-header,
	.polls-header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 2rem 0;
	}
}
#admin-info {
	.form-field {
		align-items: center;
		display: flex;
		input {
			margin: 0;
			margin-right: 0.25rem;
		}
		label {
			font-size: 0.85rem;
		}
	}
	.off {
		display: none;
	}
}
.highlight {
	background: #ffeeee;
}
.thumbs-down {
	transform: rotate(180deg);
}
.toggle-row {
	background: #f6f6f6;
	display: none;
	&.visible {
		display: table-row;
	}
	&:hover {
		cursor: pointer;
	}
}
.toggler {
	cursor: pointer;
}
