<label for="collegenumber2" class="text">Provincia donde se colegió por primera vez</label>
<select id="collegenumber2">
	<option value="hide" selected="selected">Siguientes 2 dígitos</option>
	<option value="01-Álava">01 - Álava</option>
	<option value="02-Albacete">02 - Albacete</option>
	<option value="03-Alicante">03 - Alicante</option>
	<option value="04-Almería">04 - Almería</option>
	<option value="05-Ávila">05 - Ávila</option>
	<option value="06-Badajoz">06 - Badajoz</option>
	<option value="07-Baleares">07 - Baleares</option>
	<option value="08-Barcelona">08 - Barcelona</option>
	<option value="09-Burgos">09 - Burgos</option>
	<option value="10-Cáceres">10 - Cáceres</option>
	<option value="11-Cádiz">11 - Cádiz</option>
	<option value="12-Castellón">12 - Castellón</option>
	<option value="13-Ciudad Real">13 - Ciudad Real</option>
	<option value="14-Córdoba">14 - Córdoba</option>
	<option value="15-Coruña">15 - Coruña</option>
	<option value="16-Cuenca">16 - Cuenca</option>
	<option value="17-Girona">17 - Girona</option>
	<option value="18-Granada">18 - Granada</option>
	<option value="19-Guadalajara">19 - Guadalajara</option>
	<option value="20-Gipuzkoa">20 - Gipuzkoa</option>
	<option value="21-Huelva">21 - Huelva</option>
	<option value="22-Huesca">22 - Huesca</option>
	<option value="23-Jaén">23 - Jaén</option>
	<option value="24-León">24 - León</option>
	<option value="25-Lleida">25 - Lleida</option>
	<option value="26-La Rioja">26 - La Rioja</option>
	<option value="27-Lugo">27 - Lugo</option>
	<option value="28-Madrid">28 - Madrid</option>
	<option value="29-Málaga">29 - Málaga</option>
	<option value="30-Murcia">30 - Murcia</option>
	<option value="31-Navarra">31 - Navarra</option>
	<option value="32-Ourense">32 - Ourense</option>
	<option value="33-Asturias">33 - Asturias</option>
	<option value="34-Palencia">34 - Palencia</option>
	<option value="35-Las Palmas">35 - Las Palmas</option>
	<option value="36-Pontevedra">36 - Pontevedra</option>
	<option value="37-Salamanca">37 - Salamanca</option>
	<option value="38-Santa Cruz de Tenerife">38 - Santa Cruz de Tenerife</option>
	<option value="39-Cantabria">39 - Cantabria</option>
	<option value="40-Segovia">40 - Segovia</option>
	<option value="41-Sevilla">41 - Sevilla</option>
	<option value="42-Soria">42 - Soria</option>
	<option value="43-Tarragona">43 - Tarragona</option>
	<option value="44-Teruel">44 - Teruel</option>
	<option value="45-Toledo">45 - Toledo</option>
	<option value="46-Valencia">46 - Valencia</option>
	<option value="47-Valladolid">47 - Valladolid</option>
	<option value="48-Vizcaya">48 - Vizcaya</option>
	<option value="49-Zamora">49 - Zamora</option>
	<option value="50-Zaragoza">50 - Zaragoza</option>
	<option value="51-Ceuta">51 - Ceuta</option>
	<option value="52-Melilla">52 - Melilla</option>
</select>
