<label for="medicalsociety" class="text">Sociedad médica</label>
<select id="medicalsociety">
	<option value="hide" selected="selected">Seleccione...</option>
	<option value="Sociedad Española de Cardiología">Sociedad Española de Cardiología</option>
	<option value="Sociedad Española de Arteriosclerosis">Sociedad Española de Arteriosclerosis</option>
	<option value="Sociedad Española de Medicina Interna">Sociedad Española de Medicina Interna</option>
	<option value="Sociedad Española de Endocrinología y Nutrición">Sociedad Española de Endocrinología y Nutrición</option>
	<option value="Sociedad Española de Diabetes">Sociedad Española de Diabetes</option>
	<option value="Sociedad Española de Nefrología">Sociedad Española de Nefrología</option>
	<option value="Otras">Otras</option>
</select>
