#login,
#register,
#contact {
	@apply border-b border-line;
	min-height: calc(100vh - 437px); // header + footer
	.container {
		@apply flex;
	}
	.wrapper {
		@apply max-content py-8;
		padding: 0 2rem;
		@media (min-width: 1700px) {
			padding: 0;
		}
	}
}
