.styled-checkbox {
	@apply absolute opacity-0;

	& + label {
		@apply cursor-pointer mb-8 p-0 relative text-sm text-darkblue;
	}

	// Box.
	& + label:before {
		@apply border border-darkblue h-4 inline-block mr-1 w-4;
		content: "";
		vertical-align: text-top;
	}

	// Box hover and focus
	&:hover,
	&:focus {
		+ label:before {
			@apply border-lightblue;
		}
	}

	&:focus + label:before {
		@apply opacity-80;
	}

	// Box checked
	&:checked + label:before {
		@apply border-darkblue;
	}

	// Disabled state label.
	&:disabled + label {
		@apply cursor-default text-bggray;
	}

	// Disabled box.
	&:disabled + label:before {
		@apply bg-line;
	}

	// Checkmark. Could be replaced with an image
	&:checked + label:after {
		@apply absolute bg-limegreen;
		content: "";
		left: 2px;
		top: 7px;
		height: 3px;
		width: 3px;
		box-shadow: 2px 0 0 #c7d02e, 4px 0 0 #c7d02e, 4px -2px 0 #c7d02e,
			4px -4px 0 #c7d02e, 4px -6px 0 #c7d02e, 4px -8px 0 #c7d02e;
		transform: rotate(45deg);
	}
}
