#course {
	ul {
		@apply ml-3;
	}
	ol {
		@apply ml-6;
	}
	.heading {
		max-width: 26rem;
	}
	.container {
		@apply flex items-baseline;
	}
	.course-details {
		li {
			@apply flex items-center mb-6;
		}
		svg {
			@apply mr-4 w-5;
		}
		p {
			@apply inline-block;
		}
	}
	.course-wrap {
		@apply bg-gray pb-16 pt-20 px-8;
		.icon02,
		.arrow {
			@apply inline-block;
		}
		.arrow {
			@apply w-3;
		}
		.icon02 {
			@apply mr-4 w-5;
		}
		.heading {
			@apply relative mb-16;
			&:before {
				@apply absolute h-32 left-20 mb-8 text-lightblue -top-44 z-10;
				border-width: 0.05rem;
				content: "";
			}
		}
	}
	.module {
		@apply bg-white border border-white mb-4 px-8 rounded-xl;
		a {
			@apply flex items-center justify-between px-4 py-8;
			&:hover {
				.icon02,
				.arrow {
					path {
						@apply fill-current text-white;
					}
				}
				.left .subheading {
					@apply text-white;
				}
			}
			.icon02,
			.arrow {
				path {
					@apply fill-current text-lightblue;
				}
			}
		}
		&:hover {
			@apply bg-lightblue;
			.ldBar.line2 {
				.baseline {
					@apply text-white;
				}
				.mainline {
					@apply text-limegreen;
				}
			}
			.left .text {
				@apply text-white;
			}
			.right p {
				@apply text-white;
			}
		}
		&:first-child {
			@apply border-t-0;
		}
		.left,
		.right {
			@apply py-0;
		}
		.chapters {
			@apply hidden;
			&.reveal {
				@apply block bg-gray;
			}
			.subchapters {
				@apply hidden;
				&.reveal {
					@apply block;
				}
			}
		}
		.left {
			.subheading {
				@apply m-0;
			}
			.text {
				@apply ml-0;
			}
		}
		.right {
			@apply flex items-center justify-between;
			p {
				@apply inline-block text-base-sm text-darkblue;
			}
		}
		.text {
			@apply ml-4 inline-block;
		}
	}
	.next-module {
		@apply pb-16;
		.text {
			@apply mb-4;
		}
	}
	.progress {
		@apply items-center flex;
	}
	.subcontainer {
		@apply flex flex-col items-center;
	}
	.subheading {
		@apply mb-6;
	}
	.wrapper {
		@apply max-content p-8 w-full;
	}
}
