#course {
	ul {
		@apply ml-0 sm:ml-3;
	}
	ol {
		@apply ml-6;
	}
	.heading {
		@apply sm:max-w-md max-w-none text-center sm:text-left;
	}
	.cm {
		@apply text-center sm:text-left;
	}
	.container {
		@apply flex items-baseline flex-wrap lg:flex-nowrap;
	}
	.right .container {
		@apply flex-wrap sm:flex-nowrap;
	}
	.course-details {
		li {
			@apply flex items-center mb-6;
		}
		svg {
			@apply mr-4 w-5;
		}
		p {
			@apply inline-block;
		}
	}
	.course-wrap {
		@apply bg-gray pb-16 pt-20 px-8;
		.icon02,
		.arrow {
			@apply inline-block;
		}
		.arrow {
			@apply w-3;
		}
		.icon02 {
			@apply mr-4 w-5;
		}
		.heading {
			@apply relative mb-16;
			&-variant {
				@apply mt-32;
			}
		}
		.line-before {
			&:before {
				@apply 2xl:absolute 2xl:h-32 2xl:mb-8 2xl:text-lightblue 2xl:-top-44 2xl:z-10 left-16;
				@media (min-width: 1620px) {
					border-width: 0.05rem;
					content: "";
				}
			}
		}
	}
	.heading-wrapper {
		padding: 0 2rem;
		@media (min-width: 1700px) {
			padding: 0;
		}
	}
	.module {
		&:not(:first-of-type) {
			&.disabled {
				.left,
				.right {
					//@apply opacity-60;
				}
			}
		}
		&:first-child {
			@apply border-t-0;
		}
		a {
			@apply bg-white border border-white flex flex-wrap xl:flex-nowrap items-center justify-between mb-4 px-6 sm:px-12 py-4 sm:py-8 rounded-xl;
			.left {
				@apply w-full xl:w-4/6 2xl:w-1/2;
			}
			.right {
				@apply w-full 2xl:w-2/6 xl:w-1/2;
			}
			.icon02,
			.arrow {
				path {
					@apply fill-current text-lightblue;
				}
			}
			&:hover {
				@apply bg-lightblue;
				.icon02,
				.arrow {
					path {
						@apply fill-current text-white;
					}
				}
				.left .subheading {
					@apply text-white;
				}
				.ldBar.line2 {
					.baseline {
						@apply text-white;
					}
					.mainline {
						@apply text-limegreen;
					}
				}
				.left .text {
					@apply text-white;
				}
				.right p {
					@apply text-white;
				}
			}
		}
		.left,
		.right {
			@apply py-0;
		}
		.chapters {
			@apply hidden;
			&.reveal {
				@apply block bg-gray;
			}
			.subchapters {
				@apply hidden;
				&.reveal {
					@apply block;
				}
			}
		}
		.left {
			@apply w-full lg:w-1/2 pr-0 lg:pr-8;
			.subheading {
				@apply m-0;
			}
			.text {
				@apply ml-0;
			}
		}
		.progress {
			@apply max-h-8;
		}
		.right {
			@apply flex flex-wrap sm:flex-nowrap items-center justify-between pl-0 2xl:pl-8;
			p {
				@apply inline-block text-base-sm text-darkblue;
			}
			.progress p {
				@apply hidden sm:block w-14;
			}
			> div {
				@apply w-full sm:w-auto my-1 sm:my-0;
				&:first-child,
				&:last-child {
					@apply hidden sm:block;
				}
			}
		}
		.text {
			@apply ml-0 sm:ml-4 inline-block;
		}
	}
	.module-variant {
		a .left,
		a .right {
			@apply w-1/2;
		}
		.disabled {
			opacity: 0.75;
			pointer-events: none;
		}
		.right {
			@apply justify-end;
		}
	}
	.next-module {
		@apply flex justify-center sm:justify-start pb-16;
		.text {
			@apply mb-4;
		}
	}
	.progress {
		@apply items-center flex justify-start sm:justify-evenly;
		> div {
			@media (max-width: 640px) {
				order: 2;
				&.line2 {
					@apply mt-4 sm:mt-0;
					width: 100% !important;
				}
			}
		}
		> p {
			@media (max-width: 640px) {
				order: 1;
			}
		}
	}
	.subcontainer {
		@apply flex flex-col items-center;
	}
	.subheading {
		@apply mb-6;
	}
	.wrapper {
		@apply max-content p-0 md:py-8 w-full;
		padding: 2rem;
		@media (min-width: 1700px) {
			padding: 2rem 0;
		}
	}
	> .wrapper {
		@apply max-content xl:py-8 w-full;
		.left {
			@apply mx-8 md:mx-0;
		}
		.right {
			@apply mx-8 md:mx-0;
		}
	}
}
