footer {
	@apply bg-darkblue text-sm text-white;
	.wrapper {
		@apply flex flex-wrap lg:flex-nowrap items-center;
		padding: 0 2rem;
		@media (min-width: 1700px) {
			padding: 0;
		}
		.left,
		.right {
			@apply flex flex-wrap lg:flex-nowrap lg:block justify-center w-full lg:w-1/2;
		}
		.left {
			@apply text-center sm:text-left pb-0 lg:pb-8;
		}
	}
	.right {
		@apply text-center md:text-right;
		a {
			@apply block md:inline ml-0 md:ml-2 md:w-max w-full;
			&:after {
				@apply hidden md:inline ml-2;
				content: "|";
			}
			&:hover {
				@apply duration-300 text-limegreen transition-colors;
				&:after {
					@apply text-white;
				}
			}
			&.noline:after {
				@apply ml-0;
				content: "";
			}
		}
	}
}
.partners {
	svg {
		@apply inline-block mr-12;
	}
	.activity,
	.participation {
		padding: 0 2rem;
		@media (min-width: 1700px) {
			padding: 0;
		}
	}
	.activity {
		@apply pb-16;
		a {
			@apply block lg:inline-block w-full sm:w-auto mb-6 lg:mb-0;
			svg {
				@apply block sm:inline mx-auto sm:mx-0;
			}
		}
	}
	.participation {
		@apply flex-wrap sm:flex-nowrap pb-8 pt-12;
		a {
			@apply block sm:inline-block mx-0 sm:mx-4 w-full sm:w-auto mb-6 sm:mb-0;
			svg {
				@apply block sm:inline mx-auto sm:mx-0;
			}
		}
	}
	.text-light {
		@apply mb-4 mr-8 mt-12 sm:mt-0 text-center sm:text-left;
		&:first-child {
			@apply block lg:mb-0 lg:inline-block;
		}
		&.bigger-margin {
			@apply mr-0 lg:mr-4 xl:mr-20;
		}
		&.bigger-margin-left {
			@apply ml-0 md:inline-block lg:ml-4 xl:ml-20;
		}
	}
}
