header {
	@apply my-0 flex flex-wrap sm:flex-nowrap items-center justify-center sm:justify-between p-8;
	h1 {
		@apply flex justify-center sm:block mb-8 sm:mb-0 w-full sm:w-max;
	}
	div {
		@apply flex items-center w-full sm:w-max;
		.button {
			@apply mx-auto sm:mx-0;
		}
	}
	#account {
		@apply flex justify-center sm:justify-start relative;
		svg {
			@apply ml-2 w-6 sm:w-4;
		}
		.button {
			@apply hidden md:block;
			&.mob-visible {
				@apply absolute bg-white block right-1/2 sm:right-0 top-8;
				@media (max-width: 640px) {
					transform: translateX(50%);
				}
				&:hover {
					@apply bg-transparent;
				}
			}
		}
	}
	#logo {
		@apply w-40;
		&:hover {
			.bd0,
			.bd1 {
				@apply fill-current text-limegreen;
			}
			.bd2 {
				@apply fill-current text-darkblue;
			}
		}
	}
	.header-logo {
		@apply text-2xl;
	}
	.nav-main {
		@apply hidden lg:block mr-8;
		.nav-main-items {
			@apply flex p-0 list-none text-center;
			li {
				@apply ml-4;
			}
			.menu-item {
				@apply relative table-cell;
				.nav-main-link {
					@apply no-underline font-bold inline-block mx-2 py-3 px-0 relative text-lightblue text-xs;
					&:hover {
						@apply font-bold;
					}
					&:after {
						@apply absolute bg-lightblue block bottom-0 left-1/2 w-0;
						content: "";
						height: 2px;
						transition: all 0.3s ease;
					}
					&:hover:after {
						@apply left-0 w-full;
					}
				}
			}
		}
	}
}
.page-nav {
	min-height: 45px;
}
.header-wrap {
	@apply bg-white border-b border-gray top-0 lg:sticky z-20;
}
