section {
	@apply my-0 px-8 py-28;
	&#about,
	&#committee,
	&#temario {
		h2 {
			@apply relative;
			&:before {
				@apply 2xl:absolute 2xl:h-32 2xl:mb-8 2xl:text-lightblue 2xl:-top-44 2xl:z-10;
				@media (min-width: 1536px) {
					border-width: 0.05rem;
					content: "";
				}
			}
		}
	}
	&#about,
	&#committee {
		@apply bg-gray max-w-none mx-0 p-0;
		h2 {
			&:before {
				@apply 2xl:left-16;
			}
		}
		.wrapper {
			@apply max-content px-8;
		}
	}
	&#about {
		@apply pb-12;
		h2 {
			@apply text-center xl:text-left;
			&:before {
				@apply 2xl:-top-40;
			}
		}
		.container {
			@apply gap-6 xl:gap-16 grid grid-cols-12;
			.card {
				&-lg {
					@apply col-span-12 mt-0 xl:-mt-8 relative;
				}
				&-sm {
					@apply col-span-12 lg:col-span-4 mb-0;
				}
				&-description {
					a {
						@apply text-lightblue;
						&:hover {
							@apply underline;
						}
					}
				}
				img {
					@apply block left-1/2 relative w-32;
					transform: translateX(-50%);
				}
			}
			.card-info-wrap {
				@apply grid grid-cols-12;
				.card-text-wrap {
					@apply col-span-12 md:col-span-8;
				}
				.class-img {
					@apply col-start-5 md:col-start-10 col-span-3 mt-8 md:mt-0 relative text-center;
					min-width: 6rem;
					&:before {
						@apply 2xl:absolute 2xl:h-32 2xl:left-1/2 2xl:mb-8 2xl:text-lightblue 2xl:-top-40 2xl:z-10;
						@media (min-width: 1536px) {
							border-width: 0.05rem;
							content: "";
						}
					}
				}
				.subheading {
					@apply w-full;
				}
			}
		}
		.wrapper {
			@apply py-28;
		}
	}
	&#banner {
		@apply bg-lightblue max-w-none mx-0 p-0;
		h2 {
			@apply leading-8 sm:leading-10 text-2xl sm:text-4xl text-center xl:text-left text-white;
			&:before {
				@apply left-16;
			}
		}
		.button-white {
			@apply border-white mt-8 mx-auto xl:mx-0 text-white;
			&:hover {
				@apply bg-white text-darkblue;
			}
		}
		.wrapper {
			@apply max-content px-8 py-16;
			h2 {
				@apply max-w-7xl;
			}
		}
	}
	&#committee {
		@apply pb-24;
		.members {
			@apply flex mx-8;
			cursor: grab;
			.member {
				@apply align-baseline flex mr-6;
				&-image-wrapper {
					@apply pr-8 w-28;
					img {
						@apply rounded-full w-full;
					}
				}
				&-name {
					@apply font-bold leading-6 mb-2 text-lg text-darkgreen;
				}
				.info {
					.member-name,
					.text-light {
						@apply max-w-xs;
					}
				}
			}
		}
		.wrapper {
			@apply pb-8 pt-28;
		}
	}
	&#intro {
		@apply py-0;
		img {
			width: 35rem;
		}
		.button {
			@apply mx-auto xl:mx-0;
		}
		.container {
			@apply flex flex-wrap xl:flex-nowrap items-center;
			.heading br,
			.text br {
				@apply hidden xl:block;
			}
			.right {
				@apply flex xl:block justify-center;
			}
		}
		.heading,
		.text {
			@apply max-w-full xl:max-w-lg text-center xl:text-left;
		}
		.text {
			@apply pb-8;
		}
	}
	&#temario {
		@apply relative max-w-none;
		h2 {
			@apply max-content text-center xl:text-left;
			br {
				@apply hidden xl:block;
			}
			&:before {
				@apply left-28;
			}
		}
		.container {
			@apply flex flex-wrap xl:flex-nowrap items-center max-content;
		}
		.description {
			@apply leading-6 mb-8 text-base-sm text-darkblue w-96;
		}
		.info {
			display: none;
		}
		.left {
			@apply hidden xl:block pr-16;
			img {
				@apply w-full;
			}
		}
		.module {
			@apply border-b border-line pb-4 mb-4;
			h3 {
				@apply mb-0;
			}
			svg {
				@apply inline-block w-2;
				path {
					@apply fill-current text-lightblue;
				}
			}
			&:last-child .info .program-chapter:first-child {
				@apply mt-4;
			}
			.arrow {
				@apply ml-6;
				min-width: 0.5rem;
				max-width: 0.5rem;
				transform: rotate(90deg);
				transition: 0.3s all ease-in;
			}
			.subheading {
				@apply mb-0;
			}
			.subheading-wrap {
				@apply justify-between flex;
			}
			&:not(.selected) {
				&:hover {
					.subheading {
						@apply text-lightblue;
					}
					.arrow {
						path {
							@apply fill-current text-lightblue;
						}
					}
				}
				.arrow {
					transform: rotate(0deg);
					path {
						@apply fill-current text-darkblue;
					}
				}
				.subheading {
					@apply text-darkblue;
				}
			}
			&:hover {
				@apply cursor-pointer;
			}
			&:first-child {
				#arrow {
					transform: rotate(90deg);
				}
			}
			.program-chapter {
				@apply mb-1 text-base-sm text-darkgreen;
			}
			.program-title {
				@apply mb-1;
			}
		}
	}
}
