section {
	@apply my-0 px-8 py-28;
	&#about,
	&#committee,
	&#temario {
		h2 {
			@apply relative;
			&:before {
				@apply absolute h-32 mb-8 text-lightblue -top-44 z-10;
				border-width: 0.05rem;
				content: "";
			}
		}
	}
	&#about,
	&#committee {
		@apply bg-gray max-w-none mx-0 p-0;
		h2 {
			&:before {
				@apply left-16;
			}
		}
		.wrapper {
			@apply max-content px-8;
		}
	}
	&#about {
		@apply pb-12;
		h2 {
			&:before {
				@apply -top-40;
			}
		}
		.container {
			@apply gap-16 grid grid-cols-12;
			.card {
				&-lg {
					@apply col-span-12 -mt-8 relative;
				}
				&-sm {
					@apply col-span-4;
				}
				&-description {
					a {
						@apply text-lightblue;
						&:hover {
							@apply underline;
						}
					}
				}
				img {
					@apply block left-1/2 relative w-32;
					transform: translateX(-50%);
				}
			}
			.card-info-wrap {
				@apply grid grid-cols-12;
				.card-text-wrap {
					@apply col-span-8;
				}
				.class-img {
					@apply col-start-10 col-span-3 relative text-center;
					&:before {
						@apply absolute h-32 left-1/2 mb-8 text-lightblue -top-40 z-10;
						border-width: 0.05rem;
						content: "";
					}
				}
				.subheading {
					@apply w-full;
				}
			}
		}
		.wrapper {
			@apply py-28;
		}
	}
	&#committee {
		@apply pb-24;
		.members {
			@apply flex mx-8;
			cursor: grab;
			.member {
				@apply align-baseline flex mr-6;
				&-image-wrapper {
					@apply pr-8 w-28;
					img {
						@apply rounded-full w-full;
					}
				}
				&-name {
					@apply font-bold leading-6 mb-2 text-lg text-darkgreen;
				}
				.info {
					.member-name,
					.text-light {
						@apply max-w-xs;
					}
				}
			}
		}
		.wrapper {
			@apply pb-8 pt-28;
		}
	}
	&#intro {
		@apply py-0;
		img {
			width: 35rem;
		}
		.container {
			@apply flex items-center;
		}
		.text {
			@apply max-w-lg pb-8;
		}
	}
	&#temario {
		@apply relative max-w-none;
		h2 {
			@apply max-content px-8;
			&:before {
				@apply left-28;
			}
		}
		.container {
			@apply flex items-center max-content px-8;
		}
		.description {
			@apply leading-6 mb-8 text-base-sm text-darkblue w-96;
		}
		.info {
			display: none;
		}
		.left {
			@apply pr-16;
		}
		.module {
			@apply border-b border-line pb-4 mb-4;
			h3 {
				@apply mb-0;
			}
			svg {
				@apply inline-block w-2;
				path {
					@apply fill-current text-lightblue;
				}
			}
			&:last-child .info .program-chapter:first-child {
				@apply mt-4;
			}
			.arrow {
				@apply ml-6;
				min-width: 0.5rem;
				max-width: 0.5rem;
				transform: rotate(90deg);
				transition: 0.3s all ease-in;
			}
			.subheading {
				@apply mb-0;
			}
			.subheading-wrap {
				@apply justify-between flex;
			}
			&:not(.selected) {
				&:hover {
					.subheading {
						@apply text-lightblue;
					}
					.arrow {
						path {
							@apply fill-current text-lightblue;
						}
					}
				}
				.arrow {
					transform: rotate(0deg);
					path {
						@apply fill-current text-darkblue;
					}
				}
				.subheading {
					@apply text-darkblue;
				}
			}
			&:hover {
				@apply cursor-pointer;
			}
			&:first-child {
				#arrow {
					transform: rotate(90deg);
				}
			}
			.program-chapter {
				@apply mb-1 text-base-sm text-darkgreen;
			}
			.program-title {
				@apply mb-1;
			}
		}
	}
}
