#module {
	#custom-scroll {
		@apply relative;
	}
	.block {
		@apply bg-white mb-8 py-8 rounded-3xl;
		.check-done,
		.check-undone,
		.icon02 {
			@apply mr-4;
		}
		.check-done,
		.check-undone {
			@apply w-3;
		}
		.icon02 {
			@apply w-5;
		}
		&.noend {
			@apply pb-0;
		}
		&-header {
			@apply px-8;
			.author {
				@apply border-b border-line mb-0 pb-4;
			}
			.chapter-name {
				@apply mb-4 text-base-sm;
			}
			.subheading {
				@apply leading-6 mb-0;
			}
		}
	}
	.breadcrumb {
		@apply pb-8 text-xs text-lightblue;
		&-at {
			@apply underline;
		}
	}
	.breadcrumb-title {
		&:hover {
			@apply text-darkblue;
		}
	}
	.chapter {
		&-title,
		&-name {
			@apply font-bold text-base-sm;
		}
		&-footer {
			@apply bg-bggray pb-8 rounded-b-3xl;
			&_text-wrap {
				@apply flex items-center justify-between;
				div {
					@apply flex items-center pr-8 text-darkblue text-sm;
					p {
						@apply w-11;
					}
				}
			}
			&__title {
				@apply px-8 py-2 text-darkblue text-base-sm;
			}
			.icon02 {
				path {
					@apply fill-current text-white;
				}
			}
		}
		&-header {
			@apply flex items-center px-8 py-2 relative text-darkblue;
			&:first-child {
				@apply pt-4;
			}
			&:after {
				@apply absolute border-b border-line;
				bottom: -0.05rem;
				content: "";
				left: 2%;
				width: 96%;
			}
			div {
				@apply flex items-center justify-between;
				&:after {
					@apply absolute border-b border-line z-20;
					bottom: -0.05rem;
					content: "";
					left: 2%;
					width: 96%;
				}
				p {
					@apply w-11 text-sm;
				}
			}
			p {
				@apply flex-grow leading-5;
			}
		}
		&-wrapper {
			@apply overflow-y-scroll;
			max-height: 30rem;
		}
	}
	.container {
		@apply flex items-baseline;
	}
	.content {
		visibility: hidden;
	}
	.file {
		@apply block;
	}
	.h5p-iframe-wrapper {
		@apply hidden;
	}
	.heading {
		max-width: 26rem;
		&.number {
			@apply mb-0;
		}
	}
	.loader {
		@apply flex justify-center;
		img {
			@apply w-12;
		}
	}
	.material {
		@apply px-8;
	}
	.module-details {
		li {
			@apply flex items-center mb-6;
		}
		svg {
			@apply mr-4 w-5;
		}
		p {
			@apply inline-block;
		}
	}
	.header-module-content,
	.module-content {
		@apply grid grid-cols-3;
		&-display {
			@apply col-span-2;
		}
		&-list {
			@apply col-span-1;
		}
	}
	.module-content-display {
		@apply pr-16;
	}
	.nextModule {
		@apply px-8;
		&-title {
			@apply text-base-sm text-lightblue;
		}
		.subheading {
			@apply mb-0;
		}
	}
	.nextModule-link {
		&:hover {
			.nextModule {
				@apply bg-lightblue transition-all duration-200;
			}
			.nextModule-title,
			.subheading {
				@apply text-white transition-all duration-200;
			}
		}
	}
	.section-background {
		@apply bg-gray;
	}
	.seeAll {
		@apply px-8;
		.subheading {
			@apply mb-0;
		}
	}
	.seeAll-link {
		&:hover {
			.seeAll {
				@apply bg-lightblue duration-200 transition-all;
			}
			.subheading {
				@apply duration-200 text-white transition-all;
			}
		}
	}
	.subchapters {
		li {
			a {
				@apply bg-white justify-between flex items-center px-8 py-2 relative text-lightblue text-base-sm z-10;
				margin-bottom: 0.1rem;
				div p {
					@apply w-11;
				}
				&.selected,
				&:hover {
					@apply bg-lightblue duration-100 text-white transition-all;
				}
				&:after {
					@apply absolute border-b border-line;
					bottom: -0.05rem;
					content: "";
					left: 2%;
					width: 96%;
				}
			}
		}
		div {
			@apply flex items-center min-w-max;
			p {
				@apply text-sm;
			}
		}
		.subchapter-title {
			@apply flex-grow pr-8 text-sm;
			&-wrap {
				@apply flex flex-grow;
			}
		}
	}
	.subchapter-text {
		@apply text-darkblue;
		h2 {
			@apply pb-8 pt-20 text-xl;
		}
		p {
			@apply text-base-sm;
		}
	}
	.subheading {
		@apply mb-6;
	}
	.wrapper {
		@apply p-8;
	}
}
