#module {
	#custom-scroll {
		@apply relative;
	}
	h2 {
		@apply font-bold mb-8 text-lg text-darkblue;
	}
	video {
		@apply mb-16;
		border-radius: 1.5rem;
	}
	.chapter-text {
		@apply text-base text-darkblue;
		p {
			@apply mb-3;
		}
	}
	.block {
		@apply bg-white mb-8 py-8 rounded-3xl;
		.check-done,
		.check-undone,
		.icon02 {
			@apply mr-3;
		}
		.check-done,
		.check-undone {
			@apply w-3;
		}
		.icon02 {
			@apply w-5;
		}
		&.noend {
			@apply pb-0;
		}
		&-first {
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
		&-header {
			@apply px-8;
			.author {
				@apply border-b border-line mb-0 pb-4;
			}
			.chapter-name {
				@apply mb-4 text-base-sm;
			}
			.subheading {
				@apply leading-6 mb-0;
			}
		}
	}
	.breadcrumb {
		@apply pb-8 text-xs text-lightblue;
		&-at {
			@apply underline;
		}
	}
	.breadcrumb-title {
		&:hover {
			@apply text-darkblue;
		}
	}
	.chapter {
		&-name {
			@apply pr-4 text-base-sm text-lightblue;
		}
		&-footer {
			@apply bg-bggray mb-8 pb-8 rounded-b-3xl;
			&_text-wrap {
				@apply flex items-center justify-between;
				div {
					@apply flex items-center pr-8 text-darkblue text-sm;
					p {
						@apply w-16;
					}
				}
			}
			&__title {
				@apply px-8 py-2 text-darkblue text-base-sm;
			}
			.icon02 {
				@apply mr-3 w-5;
				path {
					@apply fill-current text-white;
				}
			}
		}
		&-header {
			@apply flex items-center px-8 py-2 relative text-darkblue;
			&:not(.enabled) {
				@apply opacity-60;
				pointer-events: none;
			}
			&-title {
				@apply flex flex-grow;
			}
			&:first-child {
				@apply pt-4;
			}
			&:last-child {
				&:after,
				div:after {
					@apply bottom-0 border-0 w-0;
				}
			}
			&.selected {
				@apply bg-lightblue text-white;
			}
			&:not(.selected):hover .chapter-name {
				@apply text-darkblue;
			}
			div {
				@apply flex items-center justify-between;
				p {
					@apply w-16 text-sm;
				}
			}
			p {
				@apply flex-grow leading-5;
			}
		}
		&-wrapper {
			.line {
				@apply border-b relative;
				border-color: #f5f5f5;
				content: "";
				left: 2%;
				width: 95%;
				&:last-child {
					@apply hidden;
				}
			}
		}
	}
	.check-done,
	.check-undone {
		@apply inline-block;
	}
	.container {
		@apply flex items-baseline;
	}
	.content {
		visibility: hidden;
	}
	.file {
		@apply block;
	}
	.h5p-iframe-wrapper {
		@apply hidden;
	}
	.heading {
		max-width: 26rem;
		&.number {
			@apply mb-0;
		}
	}
	.loader {
		@apply flex justify-center;
		img {
			@apply w-12;
		}
	}
	.material {
		@apply px-8;
		a {
			&:hover {
				@apply text-lightblue;
			}
		}
	}
	.module-content-list .noend {
		@apply mb-0;
	}
	.module-details {
		li {
			@apply flex items-center mb-6;
		}
		svg {
			@apply mr-4 w-5;
		}
		p {
			@apply inline-block;
		}
	}
	.header-module-content,
	.module-content {
		@apply grid grid-cols-3;
		&-display {
			@apply col-span-2;
		}
		&-list {
			@apply col-span-1;
		}
	}
	.module-content-display {
		@apply pr-16;
	}
	.nextModule {
		@apply px-8;
		&-title {
			@apply text-base-sm text-lightblue;
		}
		.subheading {
			@apply mb-0;
		}
	}
	.nextModule-link {
		&:hover {
			.nextModule {
				@apply bg-lightblue transition-all duration-200;
			}
			.nextModule-title,
			.subheading {
				@apply text-white transition-all duration-200;
			}
		}
	}
	.section-background {
		@apply bg-gray;
	}
	.seeAll {
		@apply px-8;
		.subheading {
			@apply mb-0;
		}
	}
	.seeAll-link {
		&:hover {
			.seeAll {
				@apply bg-lightblue duration-200 transition-all;
			}
			.subheading {
				@apply duration-200 text-white transition-all;
			}
		}
	}
	.selected .chapter-name {
		@apply text-white;
	}
	.subheading {
		@apply mb-6;
	}
	.wrapper {
		@apply p-8;
	}
}
