#register {
	label {
		&:focus {
			color: black;
			outline: none;
		}
	}
	#registerOverlay {
		&.active {
			@apply flex;
		}
		@apply absolute hidden h-full items-center justify-center w-full top-0 z-10;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		.messageWrapper {
			@apply bg-white flex h-4/5 items-center justify-center p-24 relative top-0 w-4/5;
		}
	}
	#steps {
		@apply hidden overflow-x-hidden;
		overflow-y: -webkit-paged-x;
	}
	#step2,
	#step3 {
		@apply hidden;
	}
	#step3 {
		.checkbox {
			padding: 1rem 0.5rem;
		}
		.field.mb0 {
			margin-bottom: 0;
		}
	}
	.wrapper > .container {
		@apply justify-center flex-wrap xl:flex-nowrap;
	}
	.disabled {
		@apply cursor-not-allowed;
		&:before,
		&:after,
		span:before,
		span:after {
			@apply bg-transparent;
		}
	}
	.end-align {
		@apply items-end;
	}
	.error,
	.error2 {
		@apply hidden ml-4 text-sm;
		color: red;
	}
	.field-wrapper {
		@apply flex flex-wrap sm:flex-nowrap;
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="tel"],
		.select {
			width: 99%;
			max-width: 20rem;
		}
		&.itEnd {
			@apply items-end;
		}
	}
	form .field,
	.field-wrapper .field {
		padding: 0 0.5rem;
	}
	.left {
		@media (max-width: 640px) {
			@apply pb-0;
		}
	}
	.end-align .left {
		@media (max-width: 640px) {
			@apply pb-8 pt-0;
		}
	}
	.register-form {
		@apply relative;
	}
	.right {
		img {
			@apply hidden xl:block;
		}
		@media (max-width: 640px) {
			@apply pt-0;
		}
	}
	.left p {
		@apply mb-6 max-w-md;
		&.error,
		&.error2 {
			@apply mb-0;
		}
	}
	.long-text {
		&::before {
			@apply absolute left-0;
			top: 1px;
		}
		@apply pl-6;
	}
	.options {
		label {
			@apply inline-block;
		}
		input[type="radio"] {
			@apply mr-2;
		}
	}
	.step {
		flex-shrink: 0;
		width: 100%;
		&-wrapper {
			@apply flex;
		}
	}
	.subheading {
		@apply text-darkgreen;
	}
	.wrong {
		border-color: red !important;
	}
}
