#register {
	#steps {
		@apply hidden overflow-x-hidden;
		overflow-y: -webkit-paged-x;
	}
	#step2,
	#step3 {
		@apply hidden;
	}
	label {
		&:focus {
			color: black;
			outline: none;
		}
	}
	.disabled {
		@apply cursor-not-allowed;
		&:before,
		&:after,
		span:before,
		span:after {
			@apply bg-transparent;
		}
	}
	.end-align {
		@apply items-end;
	}
	.error,
	.error2 {
		@apply hidden ml-4 text-sm;
		color: red;
	}
	.field-wrapper {
		@apply flex;
	}
	.left p {
		@apply mb-6 max-w-md;
		&.error,
		&.error2 {
			@apply mb-0;
		}
	}
	.long-text {
		&::before {
			@apply absolute left-0;
		}
		@apply pl-6;
	}
	.options {
		label {
			@apply inline-block;
		}
		input[type="radio"] {
			@apply mr-2;
		}
	}
	.step {
		flex-shrink: 0;
		width: 100%;
		&-wrapper {
			@apply flex;
		}
	}
	.subheading {
		@apply text-darkgreen;
	}
	.wrong {
		border-color: red !important;
	}
}
